
    <div class="col-xs-6 col-md-2 col-md-offset-1">
   <a href="http://tinyurl.com/ya92o4cz" target="_blank"><img src="img/portfolio/games/1.png" class="thumbnail" height="100" width="100" /> 
 </div>
 <div class="col-xs-6 col-md-2">
   <a href="http://play.typeracer.com/" target="_blank"><img src="img/portfolio/games/2.png" class="thumbnail" height="100" width="100" /> 
 </div>

 <div class="col-xs-6 col-md-2">
   <a href=" https://www.cubeslam.com/bchqka" target="_blank"><img src="img/portfolio/games/3.png" class="thumbnail" height="100" width="100" /> 
 </div>
 <div class="col-xs-6 col-md-2">
   <a href="https://lichess.org/" target="_blank"><img src="img/portfolio/games/4.png" class="thumbnail" height="100" width="100" /> 
 </div>
 <div class="col-xs-6 col-md-2">
   <a href="http://agar.io/" target="_blank"><img src="img/portfolio/games/5.png" class="thumbnail" height="100" width="100" /> 
 </div>
</div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>