 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <img src="img/portfolio/fullsize/icon.png"  style="width:50px;height:50px;">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Mentor University</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#How-to">How-to</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Subjects">Subjects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Mentee">Mentee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Mentor">Mentor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>