<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mentor University</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">

      
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <img src="img/portfolio/fullsize/icon.png"  style="width:50px;height:50px;">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Mentor University</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#How-to">How-to</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Subjects">Subjects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Mentee">Mentee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Mentor">Mentor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="login.html">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Your Best Support towards <b>Quality Education</b></h1>
          <hr>
          <p>Revolutionizing the tutoring industry in America</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light">
            <p class="text-faded">We innovate by giving the users power to negotiate their own terms and rates.  This takes the greedy middlemen out of the tutoring industry who take as much as 40% of the tutor’s pay. We provide mentoring rooms that range from math to entrepreneurship to dance.</p>
            <a class="btn btn-primary btn-xl" href="/connect">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="How-to">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Get started in <strong>3</strong> simple steps</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 text-center">
            <div class="service-box">
              <i class="fa fa-user-plus fa-4x text-primary sr-icons"></i>
              <h3>Register Online</h3>
              <p class="text-muted">Identify yourself.</p>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-check-square text-primary sr-icons"></i>
              <h3>Select a course</h3>
              <p class="text-muted">Choose from a wide range of subjects.</p>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-book text-primary sr-icons"></i>
              <h3>Start learning</h3>
              <p class="text-muted">Learn from a experienced mentor!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="Subjects">
      <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Mathematics
                  </div>
                  <div class="project-name">
                    Calculus
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Science
                  </div>
                  <div class="project-name">
                    Chemistry
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Bussiness
                  </div>
                  <div class="project-name">
                    Personal Finance
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Love
                  </div>
                  <div class="project-name">
                    Dating Advice
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Music
                  </div>
                  <div class="project-name">
                    Piano
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Entertainment
                  </div>
                  <div class="project-name">
                    Dance
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="Mentee">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">How does it work for the <strong>Mentee?</strong></h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 text-center">
            <div class="service-box">
              <i class="fa fa-question fa-4x text-primary sr-icons"></i>
              <h3>Doubt ?</h3>
              <p class="text-muted">Have a burning question?</p>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-handshake-o text-primary sr-icons"></i>
              <h3>Meet with Mentor</h3>
              <p class="text-muted">First 5 mins are free!</p>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-star text-primary sr-icons"></i>
              <h3>Give Feedback</h3>
              <p class="text-muted">Rate the mentor!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="Mentor">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">How does it work for the <strong>Mentor?</strong></h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 text-center">
            <div class="service-box">
              <i class="fa fa-hourglass-start fa-4x text-primary sr-icons"></i>
              <h3>Wait ?</h3>
              <p class="text-muted">Wait for a mentee</p>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-handshake-o text-primary sr-icons"></i>
              <h3>Meet with Mentee</h3>
              <p class="text-muted">First 5 mins are free!</p>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-usd text-primary sr-icons"></i>
              <h3>Get Paid</h3>
              <p class="text-muted">Earn more money with higher rating!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>
</html>
