<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mentor University</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">

    <link href="css/hey.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <img src="img/portfolio/fullsize/icon.png"  style="width:50px;height:50px;">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Mentor University</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#How-to">How-to</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Subjects">Subjects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Mentee">Mentee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Mentor">Mentor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 

    <header class="masthead">

    </header>
    <div class="row">
 <div class="col-xs-6 col-md-2 col-md-offset-1">
   <a href="http://tinyurl.com/ya92o4cz" target="_blank"><img src="img/portfolio/games/1.png" class="thumbnail" height="100" width="100" /> 
 </div>
 <div class="col-xs-6 col-md-2">
   <a href="http://play.typeracer.com/" target="_blank"><img src="img/portfolio/games/2.png" class="thumbnail" height="100" width="100" /> 
 </div>

 <div class="col-xs-6 col-md-2">
   <a href=" https://www.cubeslam.com/bchqka" target="_blank"><img src="img/portfolio/games/3.png" class="thumbnail" height="100" width="100" /> 
 </div>
 <div class="col-xs-6 col-md-2">
   <a href="https://lichess.org/" target="_blank"><img src="img/portfolio/games/4.png" class="thumbnail" height="100" width="100" /> 
 </div>
 <div class="col-xs-6 col-md-2">
   <a href="http://agar.io/" target="_blank"><img src="img/portfolio/games/5.png" class="thumbnail" height="100" width="100" /> 
 </div>
</div>


    <div class="col-xs-6 col-md-2 col-md-offset-1">
   <a href="http://tinyurl.com/ya92o4cz" target="_blank"><img src="img/portfolio/games/1.png" class="thumbnail" height="100" width="100" /> 
 </div>
 <div class="col-xs-6 col-md-2">
   <a href="http://play.typeracer.com/" target="_blank"><img src="img/portfolio/games/2.png" class="thumbnail" height="100" width="100" /> 
 </div>

 <div class="col-xs-6 col-md-2">
   <a href=" https://www.cubeslam.com/bchqka" target="_blank"><img src="img/portfolio/games/3.png" class="thumbnail" height="100" width="100" /> 
 </div>
 <div class="col-xs-6 col-md-2">
   <a href="https://lichess.org/" target="_blank"><img src="img/portfolio/games/4.png" class="thumbnail" height="100" width="100" /> 
 </div>
 <div class="col-xs-6 col-md-2">
   <a href="http://agar.io/" target="_blank"><img src="img/portfolio/games/5.png" class="thumbnail" height="100" width="100" /> 
 </div>
</div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>